[submodule "awesome/themes"]
	path = config/awesome/themes
	url = https://github.com/serialoverflow/awesome-themes.git
[submodule "awesome/freedesktop"]
	path = config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
